/.idea/
/target/
/system-tests/newman
/system-tests/package-lock.json
/system-tests/node_modules
*/node/
*/.idea/*
!*/.idea/runConfigurations/
*/target/*
!*/target/generated-sources/
*/target/generated-sources/*
!*/target/generated-sources/java/
!*/target/generated-sources/cxf/
*.iml
/.settings
/.classpath
/.project
/*/.project
/*/.classpath
/*/.settings
/*/spy.log
/*/.flattened-pom.xml
/.flattened-pom.xml